# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\李乾坤\爬虫程序\智联招聘\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
