# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\爬虫文件夹\百度迁徙\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
