# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\爬虫文件夹\房天下小区_二手房\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
